/* Custom Variables*/
:root {
  --body-bg-color: #181717;
  --white-color: #ffffff;
  --primary-color: #854836;
  --secondary-color: #ffb22c;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #e07a5f;
  --custom-btn-bg-hover-color: #f2cc8f;
  --dark-color: #000000;
  --p-color: #717275;
  --link-hover-color: #854836;

  --body-font-family: "Poppins", sans-serif;
  --heading-font-family: "Unbounded", sans-serif;

  --h1-font-size: 62px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;
  --p-font-size: 18px;
  --menu-font-size: 16px;
  --btn-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font-family);
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-medium);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: white;
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-bg {
  background-color: var(--section-bg-color);
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.page-404-title {
  color: var(--primary-color);
  font-size: 100px;
}

.page-404-title + h3 {
  color: var(--secondary-color);
}

.custom-btn-group .link {
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
}

.custom-btn-group .link:hover {
  color: var(--link-hover-color);
}

/*---------------------------------------
  SITE HEADER        
-----------------------------------------*/
.site-header {
  position: absolute;
  z-index: 22;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header .container {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: var(--border-radius-large);
  padding: 15px 25px;
  max-height: 70px;
}

.site-header-text {
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.site-header-text span {
  margin-left: 10px;
}

.site-header .social-icon {
  max-height: 40px;
}

.offcanvas {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 30px;
}

.offcanvas.offcanvas-end {
  border-left: 0;
}

.offcanvas-header .btn-close {
  filter: brightness(0) invert(1);
  transition: all 0.3s;
}

.offcanvas-header .btn-close:hover {
  transform: rotate(180deg);
}

.offcanvas-icon {
  font-size: var(--h3-font-size);
  color: var(--white-color);
  margin-left: 15px;
}

.offcanvas nav ul {
  margin: 0;
  padding: 0;
}

.offcanvas nav ul li {
  list-style: none;
  display: block;
}

.offcanvas nav ul li a {
  color: var(--white-color);
  font-family: var(--heading-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.offcanvas nav ul li a:hover,
.offcanvas nav ul li a.active {
  color: var(--link-hover-color);
}

/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 675px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-bg {
  background-image: url("../images/people-practicing-social-integration.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-bg::after {
  content: "";
  background: linear-gradient(to top, var(--dark-color), transparent 200%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero-bg .container {
  position: relative;
  z-index: 2;
}

.hero-section small {
  color: white;
  display: block;
  font-size: var(--btn-font-size);
  font-style: italic;
  position: relative;
  padding-left: 75px;
}

.hero-section small::before {
  content: "";
  background-color: var(--white-color);
  width: 50px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translate(-50%, 0);
}

.video-wrap {
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-title {
  color: var(--white-color);
}

.text-white {
  align-content: center;
  text-align: center;
}

.lead {
  color: white;
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-large);
  border-width: 2px;
  box-shadow: none;
  color: var(--p-color);
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
}

.custom-form .form-control:focus,
.custom-form .form-control:hover {
  border-color: var(--primary-color);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-floating > label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--heading-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s;
  margin-bottom: 0;
  padding-left: 10px;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

.custom-form .form-check-label {
  color: var(--p-color);
}

.contact-form .form-floating > textarea {
  border-radius: var(--border-radius-medium);
  height: 110px;
}

.login-form .custom-btn {
  font-family: var(--heading-font-family);
  padding: 10.25px 35px;
  font-size: var(--p-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .site-header .social-icon {
    display: none !important;
  }

  .offcanvas-icon {
    margin-left: 10px;
  }

  .countdown-item {
    margin: 10px;
  }
}

.display-4 {
  font-size: 12px;
  color: #ffffff;
}

// Bubble Image

.bubble-img {
  transition: transform 0.4s ease;
}

.bubble-img:hover {
  transform: scale(1.07);
}

// Footer //
footer a:hover {
  color: #00bcd4;
  transition: 0.3s;
}

.small-footer {
  font-size: 10px;
}

.service-box:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.text-uppercase {
  text-transform: uppercase !important;
  color: #ffffff;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

// Portfolio Page//

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

.fade-in:nth-child(2) {
  animation-delay: 0.1s;
}
.fade-in:nth-child(3) {
  animation-delay: 0.2s;
}
.fade-in:nth-child(4) {
  animation-delay: 0.3s;
}
.fade-in:nth-child(5) {
  animation-delay: 0.4s;
}
.fade-in:nth-child(6) {
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: white;
}

.zoom-effect {
  transition: transform 0.4s ease;
}

.zoom-effect:hover {
  transform: scale(1.05);
}
